{% extends 'common.html'%}
{% block title %}车牌识别-收费细则 {% endblock %}
{% block container %}
<div class="jumbotron" style="background-size:100%;background:url(../static/img/background.jpg);">
  <h1 class="display-4" style="color:white">车牌识别</h1>
  <p class="lead" style="color:white">{{data}}</p>
  <hr class="my-4">
  <p style="color:white">此车牌识别功能应用于六神无组商场地下停车场，用以完成计费等功能。</p>
  <a class="btn btn-primary btn-lg" href="/upload" role="button">立即使用</a>
</div>
<h2 align="center">停车场收费细则</h2>
<div class="col"></div>
<div class="col">
  <h4 align="center">通　　知</h4>
  <p>尊敬的各位车友：</p>
  <p>六神无组商场地下停车场定于2022年8月1日调整地下停车场收费标准。调整收费标准如下：</p>
  <p>1.停车不超过15分钟（含15分钟）不需要停车费。</p>
  <p>2.停车不满一个小时按一个小时计算。</p>
  <p>3.停车费为3元/时·辆。</p>
  <p>4.停车上限20元/辆。</p>
  <p>5.支付停车费后，请在15分钟内离开停车场，否则将重新计费。</p>

</div>
<div class="col"></div>
{% endblock %}