{% extends 'common.html'%}
{% block title %}车牌识别-车位 {% endblock %}
{% block container %}
<style>
  .vacancy{
      font-weight: normal;
      background-color: green;
  }
  .have{
      font-weight: normal;
      background-color:red;
  }
</style>
<h3>剩余车位：</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" class="vacancy">A001</th>
      <th scope="col" class="vacancy">A002</th>
      <th scope="col" class="vacancy">A003</th>
      <th scope="col" class="vacancy">A004</th>
      <th scope="col" class="vacancy">A005</th>
      <th scope="col" class="vacancy">A006</th>
      <th scope="col" class="vacancy">A007</th>
      <th scope="col" class="vacancy">A008</th>
      <th scope="col" class="vacancy">A009</th>
      <th scope="col" class="vacancy">A010</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="vacancy">A011</th>
      <td class="vacancy">A012</td>
      <td class="vacancy">A013</td>
      <td class="vacancy">A014</td>
      <td class="vacancy">A015</td>
      <td class="vacancy">A016</td>
      <td class="vacancy">A017</td>
      <td class="vacancy">A018</td>
      <td class="vacancy">A019</td>
      <td class="vacancy">A020</td>
    </tr>
    <tr>
      <th scope="row" colspan="10"></th>
    </tr>
    <tr>
      <th scope="row" class="vacancy">B001</th>
      <td class="vacancy">B002</td>
      <td class="vacancy">B003</td>
      <td class="vacancy">B004</td>
      <td class="vacancy">B005</td>
      <td class="vacancy">B006</td>
      <td class="vacancy">B007</td>
      <td class="vacancy">B008</td>
      <td class="vacancy">B009</td>
      <td class="vacancy">B010</td>
    </tr>
    <tr>
      <th scope="row" class="vacancy">B011</th>
      <td class="vacancy">B012</td>
      <td class="vacancy">B013</td>
      <td class="vacancy">B014</td>
      <td class="vacancy">B015</td>
      <td class="vacancy">B016</td>
      <td class="vacancy">B017</td>
      <td class="vacancy">B018</td>
      <td class="vacancy">B019</td>
      <td class="vacancy">B020</td>
    </tr>
   <tr>
      <th scope="row" colspan="10"></th>
    </tr>
  <tr>
      <th scope="row" class="vacancy">C001</th>
      <td class="vacancy">C002</td>
      <td class="vacancy">C003</td>
      <td class="vacancy">C004</td>
      <td class="vacancy">C005</td>
      <td class="vacancy">C006</td>
      <td class="vacancy">C007</td>
      <td class="vacancy">C008</td>
      <td class="vacancy">C009</td>
      <td class="vacancy">C010</td>
    </tr>
    <tr>
      <th scope="row" class="vacancy">C011</th>
      <td class="vacancy">C012</td>
      <td class="vacancy">C013</td>
      <td class="vacancy">C014</td>
      <td class="vacancy">C015</td>
      <td class="vacancy">C016</td>
      <td class="vacancy">C017</td>
      <td class="vacancy">C018</td>
      <td class="vacancy">C019</td>
      <td class="vacancy">C020</td>
    </tr>
   <tr>
      <th scope="row" colspan="10"></th>
    </tr>
  <tr>
      <th scope="row" class="vacancy">D001</th>
      <td class="vacancy">D002</td>
      <td class="vacancy">D003</td>
      <td class="vacancy">D004</td>
      <td class="vacancy">D005</td>
      <td class="vacancy">D006</td>
      <td class="vacancy">D007</td>
      <td class="vacancy">D008</td>
      <td class="vacancy">D009</td>
      <td class="vacancy">D010</td>
    </tr>
    <tr>
      <th scope="row" class="vacancy">D011</th>
      <td class="vacancy">D012</td>
      <td class="vacancy">D013</td>
      <td class="vacancy">D014</td>
      <td class="vacancy">D015</td>
      <td class="vacancy">D016</td>
      <td class="vacancy">D017</td>
      <td class="vacancy">D018</td>
      <td class="vacancy">D019</td>
      <td class="vacancy">D020</td>
    </tr>
   <tr>
      <th scope="row" colspan="10"></th>
    </tr>
  <tr>
      <th scope="row" class="vacancy">E001</th>
      <td class="vacancy">E002</td>
      <td class="vacancy">E003</td>
      <td class="vacancy">E004</td>
      <td class="vacancy">E005</td>
      <td class="vacancy">E006</td>
      <td class="vacancy">E007</td>
      <td class="vacancy">E008</td>
      <td class="vacancy">E009</td>
      <td class="vacancy">E010</td>
    </tr>
    <tr>
      <th scope="row" class="vacancy">E011</th>
      <td class="vacancy">E012</td>
      <td class="vacancy">E013</td>
      <td class="vacancy">E014</td>
      <td class="vacancy">E015</td>
      <td class="vacancy">E016</td>
      <td class="vacancy">E017</td>
      <td class="vacancy">E018</td>
      <td class="vacancy">E019</td>
      <td class="vacancy">E020</td>
    </tr>
  </tbody>
</table>
<script>

</script>
{% endblock %}

