{% extends 'common.html'%}
{% block title %}车牌识别-视频识别 {% endblock %}
{% block container %}
<style>
    .test {
        width: 1200px;
        height: 500px;
        margin: 20px auto;
        display: flex;
    }

    .testIMG {
        display: flex;
        margin-top: 0;
        margin-left: 155px;
        width: 640px;
        height: 500px;
        background-size: 100%;
        background: url(../static/img/upload/wait.png);
    }
</style>
<div class="test">
  <div class="testIMG">
    <img src="{{ url_for('video_feed') }}">
  </div>
  <div style="background-color: lightgray; width: 250px;position: relative;">
    <h4>检测结果:</h4>
    <span id="clock"></span>
    <h5>当前时间：{{time}}</h5>
    <h5>车牌号：{{plate}}</h5>
    <h5>车牌属地：{{location}}</h5>
    <h5>车辆类型：{{plate_type}}</h5>
    <h5>停车时间: {{parking}}</h5>
    <h5>停车位置：{{site}}</h5>
    <h5>停车费：{{fee}}</h5>
    <h3 style="color:red;">{{warn}}</h3>
    <form action="/video_upload" method="post">
  <button type="submit" class="btn btn-primary" style="position: absolute;bottom: 0;">检测</button>
</form>
  </div>
</div>
{% endblock %}